<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>TMS</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col">
                <h1>TMS Testing</h1>
            </div>
        </div>
        <form class="row" th:action="@{/tms-test}" method="post">
            <div class="col-auto">
                <input type="text" class="form-control" name="id" placeholder="User name">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" name="pass" placeholder="Password">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <label th:text="${url}"></label>
            </div>
        </div>
    </div>
</body>
</html>